<!--
  Generated template for the CardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="bg-image capital">
    <ion-row >
        <ion-col col-2 >
          <a href="">
            <img src="./assets/imgs/menu.png" class="menu-bell-size">
          </a>   
          </ion-col>
        <ion-col col-8 >
    <div class="font-bold">
    <h4> General Enquiry</h4>
    </div>
    </ion-col>
    <ion-col col-2 >
    <a href="">
    <img src="./assets/imgs/notification.png" class="menu-bell-size">
    </a>   
    </ion-col>
    </ion-row>

<ion-row padding>
<ion-col col-9 text-wrap class="capital font-20 mtop10 color">
    FCIU5641687
</ion-col>
<ion-col col-3 >
<img src="./assets/imgs/container-enquiry.png" style="width:60px; height: 60px; margin-top: -5px;" >
</ion-col>
</ion-row>

<ion-card class="dashboardgraph">
    <div> 
  <ion-row style="margin-left: 20px">
    <ion-col col-3 class="mtop10">
       <div class="container-img" style="margin-left: -7px;margin-top: 0px;"></div>
      </ion-col>
      <ion-col col-7 class="mleft-20" >
    <div class="cardheader font-8 color-blue font-16 left-right" style="margin-top: 8px;margin-left:-12px"> 
      Out
      <ion-row class="font-8 ">
        <ion-col col-8 style="margin-left: -5px;">
          05.02.2018
          </ion-col>
          <ion-col col-4 style="margin-left: -30px">
            14.00
            </ion-col>
        
        </ion-row>
    </div>
     </ion-col>
     <ion-col col-2></ion-col>
     <a href="">
     <div class="out-icon">
        <i class="fa fa-arrow-right mleft10 color"></i>
     </div>
   </a>
     </ion-row>
    </div>
 <hr>
 <div style="margin-top: -6px;">
    <ion-grid style="padding-left: 22px;">
        <ion-row>
          <ion-col>
            <h4 class="font-16 black">F</h4>
            <div class="font-8">F/E</div>
                    </ion-col>
          <ion-col style="margin-left: -35px;">
              <h4 class="font-16 black">TSC</h4>
              <div class="font-8">Line</div>
          </ion-col>
          <ion-col>
              <h4 class="font-16 black">LDO</h4>
              <div class="font-8">Type</div>
          </ion-col>
          
        </ion-row>
        <ion-row>
            <ion-col>
                <h4 class="font-16 black">VS</h4>
                <div class="font-8">Carrier</div>
              </ion-col>
          <ion-col style="margin-left: -35px;">
          
              <h4 class="font-16 black">ONLL/100E</h4>
              <div class="font-8">Order</div>
            </ion-col>
            <ion-col>
                <h4 class="font-16 black">EXE</h4>
                <div class="font-8">Status</div>
              </ion-col>
          </ion-row>
      </ion-grid>
      </div>
</ion-card>

<ion-card class="dashboardgraph card1">
    <div> 
  <ion-row style="margin-left: 20px">
    <ion-col col-3 class="mtop10">
      <div class="container-img" style="margin-left: -7px;margin-top: 0px;"></div>
      </ion-col>
      <ion-col col-7 class="mleft-20" >
    <div class="cardheader font-8 color-blue font-16 " style="margin-top: 8px;margin-left:-9px"> 
      In
      <ion-row class="font-8">
        <ion-col col-8 style="margin-left: -5px;">
          05.02.2018
          </ion-col>
          <ion-col col-4 style="margin-left: -30px">
            14.00
            </ion-col>
        
        </ion-row>
    </div>
     </ion-col>
     <ion-col col-2></ion-col>
     <a href="">
     <div class="in-icon">
         
        <i class="fa fa-arrow-left color" style="margin-left: 12px;margin-top: 3px;"></i>
     </div>
     </a>
   
     </ion-row>
    </div>
 <hr>
 <div style="margin-top: -4px;">
    <ion-grid style="padding-left: 22px;">
        <ion-row>
          <ion-col>
            <h4 class="font-16 black">F</h4>
            <div class="font-8">F/E</div>
                    </ion-col>
          <ion-col style="margin-left: -35px;">
              <h4 class="font-16 black">TSC</h4>
              <div class="font-8">Line</div>
          </ion-col>
          <ion-col>
              <h4 class="font-16 black">LDO</h4>
              <div class="font-8">Type</div>
          </ion-col>
          
        </ion-row>
        <ion-row>
            <ion-col>
                <h4 class="font-16 black">VS</h4>
                <div class="font-8">Carrier</div>
              </ion-col>
          <ion-col style="margin-left: -35px;">
              <h4 class="font-16 black">ONLL/100E</h4>
              <div class="font-8">Order</div>
            </ion-col>
            <ion-col>
                <h4 class="font-16 black">EXE</h4>
                <div class="font-8">Status</div>
              </ion-col>
          </ion-row>
      </ion-grid>
      </div>
</ion-card>

<ion-card class="dashboardgraph">
    <div> 
  <ion-row style="margin-left: 20px">
    <ion-col col-3 class="mtop10">
      <div class="container-img" style="margin-left: -7px;margin-top: 0px;"></div>
      </ion-col>
      <ion-col col-7 class="mleft-20" >
    <div class="cardheader font-8 color-blue font-16 "style="margin-top: 8px;margin-left:-12px"> 
      Out
      <ion-row class="font-8">
        <ion-col col-8 style="margin-left: -5px;">
          05.02.2018
          </ion-col>
          <ion-col col-4 style="margin-left: -30px">
            14.00
            </ion-col>
        
        </ion-row>
    </div>
     </ion-col>
     <ion-col col-2></ion-col>
     <a href="">
     <div class="out-icon">
        <i class="fa fa-arrow-right mleft10 color"></i>
     </div>
   </a>
     </ion-row>
    </div>
 <hr>
 <div style="margin-top: -4px;">
    <ion-grid style="padding-left: 22px;">
        <ion-row>
          <ion-col>
            <h4 class="font-16 black">F</h4>
            <div class="font-8">F/E</div>
                    </ion-col>
          <ion-col style="margin-left: -35px;">
              <h4 class="font-16 black">TSC</h4>
              <div class="font-8">Line</div>
          </ion-col>
          <ion-col>
              <h4 class="font-16 black">LDO</h4>
              <div class="font-8">Type</div>
          </ion-col>
          
        </ion-row>
        <ion-row>
            <ion-col>
                <h4 class="font-16 black">VS</h4>
                <div class="font-8">Carrier</div>
              </ion-col>
          <ion-col style="margin-left: -35px;">
              <h4 class="font-16 black">ONLL/100E</h4>
              <div class="font-8">Order</div>
            </ion-col>
            <ion-col>
                <h4 class="font-16 black">EXE</h4>
                <div class="font-8">Status</div>
              </ion-col>
          </ion-row>
      </ion-grid>
      </div>
</ion-card>
<div class="icon-box " >
  <i class="fa fa-microphone ic"></i>
</div>
</ion-content>
