accordion {
    @media (max-width: 576px) {
        ion-card-content {
            font-size: 2rem !important;
        }
    }
 
    @media (max-width: 820px) {
        .mobile-fab {
            display: none;
        }
        .bg-image{
            width:100%;
            background-size: 100% 100%;
        }
    }
 
    @media (min-width: 820px) {
        .web-fab {
            display: none;
        }
        .bg-image{
            width:100%;
            background-size: 100% 100%;
        }
    }
    .button-md {
        -webkit-box-shadow:none;
        box-shadow: none;
    }

    .card-header{
        width:auto;
        height:100px;
        background-color: #fff;
        margin-top: 15px;
    }

    .card-content {
        padding:0px 16px;
        max-height:0px;
    }

    .card{
        border-radius: 7px;
        
    }
    .drop-shadow
    {
        box-shadow: 0 5px 5px -5px #dedede;
    }
    .item[no-lines].bottom-border { 
    
   width: 100%;
    margin-left: -15px;
    }
    
    .booking-im{
        width:50px;
        height: 50
        px;
        margin-left: -10px;
    }

    .bl-im{
        width:60px;
        height: 60px;
        margin-left: -10px;
    }

    .cont-im{
        width:60px;
        height: 60px;
        margin-left: -10px;
    }
    .bg-image{
        background-image:url("../assets/imgs/bg-image.png");
        background-repeat: no-repeat;
       width:100%;
        background-position: center;
        margin-left: -1px;
       
    }
    .tile_container{
        width:auto;
        height:10px;
     
    }
    .font-20{
        font-size:14px;
        font-weight: bold;
      
    }

    .font-16{
        font-size:16px;
        font-weight: bold;
        text-transform: none;
        margin-top: 12px;
      
    }
    .innerfont{
        font-size:20px;
        font-weight: bold;
        margin-left: 10px;
    }
    a{
        text-decoration: none;
    }
    .center{
        text-align: center;
    }
    .icon-container-enquiry{
        background-image: url("./assets/imgs/container-enquiry.png");
        width:200px;
        height:200px;
      
    }
    .mtop10{
        margin-top: 15px;
    }
    .font-bold{
        font-size:20px;
        color:#fff;
        text-align: center;
        font-weight: bold;
    }
    .mtop50{
        margin-top:10px;
    }

    .mtop5{
        margin-top:5px;
    }
    .mtop10{
        margin-top:10px;
    }
    .capital{
        text-transform: uppercase;
        
    }
    .menu-bell-size{
    width:20px;
    height: 20px;
    margin-top: 18px;
    margin-left: 8px;
    }

    .ic{
        color: #FFF;
        font-size: 21px;
 
    }
     
    .icon-box{
        width: 50px;
        height: 50px;
        background: #25344b !important;
        border-radius: 50px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        text-align: center;
        padding-top: 15px;
       
    }
    .pleft-right{
        padding-left: 2px;
        padding-right: 2px;
    }
    .break{
        word-wrap: break-word;
        word-break: break-all;
    }
    .color{
        color:#fff
    }
 

    page-home {
        button {
            align-items: baseline;
        }
    
    }
    .font-icon{
        font-size: 12px;
        color:#ccc;
        margin-top: 15px;
        float: right;
    } 
    .bottom-20{
        margin-bottom: 49px;
    }
    a{
        text-decoration: none;
        color:#000;
    }

    .button{
        background-color: transparent;
        border:0px;
        color:#000;
        font-weight:bold;
        margin-left: -15px;
        margin-top: -10px;
    }
    .button:hover{
        background-color: #fff;
        border:0px;
    }
    .hr{
        color: transparent
    }
    .container-img{
        background: url("/assets/imgs/Container.png");
        background-size: 100% 100%;
        width:50px;
        height: 45px;
    }

   .right{
       float: right;
   }
}
